/*Variables*/
:root {
    --mTop: 20%;
    --mLeft: 50%;
}

main{
    /*Ajuste de tamaño*/
    width: 100%;
    height: 70%;

    /*Ajuste de posicion*/
    position: absolute;
    top: var(--mTop);
    left: var(--mLeft);
    transform: translate(calc(var(--mLeft)*(-1)));
    
    border: solid red;
    background-image: linear-gradient(#16a8f1, rgb(193, 236, 245), rgb(255, 255, 255));

}